* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  line-height: 1;
}

.page-container {
  overflow: hidden;
}

img {
  max-width: 100%;
}

.title {
  font-size: 3rem;
  font-weight: 300;
  color: #3677fd;
  line-height: 3.5rem;
}

.about-section__inner {
  width: 60%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.footer {
  background: linear-gradient(45deg, #3680fe 10%, #3c90fe 30%, #4099ff 50%, #469dff 60%, #3695ff 80%);
}
.footer__inner {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  padding: 40px;
}
.footer__text {
  font-size: 2.5rem;
  font-weight: 300;
}
.footer__text--bold {
  font-weight: bold;
}