* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  line-height: 1;
}

.page-container {
  overflow: hidden;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: 300;
  color: #3677fd;
  line-height: 3.5rem;
}

.portfolio-section__inner {
  padding-top: 93px;
  padding-bottom: 193px;
}

.portfolio-section__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 104px;
}

.portfolio-section__img-wrap {
  width: 359px;
  height: 269px;
  border-radius: 10px;
  border: 1px solid #f4f4f4;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-section__img-wrap:nth-child(4),
.portfolio-section__img-wrap:nth-child(5),
.portfolio-section__img-wrap:nth-child(6) {
  margin-top: 50px;
}

.clients-section {
  background-color: #f1f8ff;
}

.client-section__inner {
  padding-top: 93px;
  padding-bottom: 101px;
}

.client-section__img-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 87px;
}