.about-section {

&__inner {
  padding-top: 30px;
  padding-bottom: 60px;
  }

&__inner {
  width: 60%;
  margin: auto;
 }
}

@media screen and (max-width: 400px) {
  .about-section {

    &__inner {
      width: 90%;
    }
  }
}