.clients-section{
    background-color: #f1f8ff;
}
.clients-section__inner{
    padding-top: 93px;
    padding-bottom: 101px;
   
}
.clients{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 87px;
}