.clients-section {
    background-color: #f1f8ff;
}
.clients-section__inner {
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
@media screen and (max-width: 900px){
  .clients{
    display: flex;
  justify-content: center;
flex-direction: column;
padding-top: 0;}
.clients__img-wrap{
  padding: 30px;
}

}