.clients-section {
    background-color: #f1f8ff;
}
.clients-section__inner {
  padding-top: 30px;
  padding-bottom: 50px;
}

.clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}