.footer {
  background: linear-gradient(45deg, #3680fe 10%, #3c90fe 30%, #4099ff 50%, #469dff 60%, #3695ff 80%);

  &__inner {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    padding: 40px;
  }
  &__text {
    font-size: 2.5rem;
    font-weight: 300;
  }

  &__text--bold {
    font-weight: bold;
  }
}

@media screen and (max-width: 1120px) {
  .footer {

    &__text--bold {
      display: block;
    }
  } 
}


@media screen and (max-width: 900px) {
  .footer {
  
    &__inner {
      width: 100%;
      flex-direction: column;
      padding: 20px;
    }

    &__text {
      padding: 20px;
    }

    &__text--bold {
      display: inline;
    }
  } 
}

@media screen and (max-width: 450px) {
  .footer {
    text-align: center;

    &__text {
      padding: 10px;
    }

    &__text--bold {
      display: block;
      padding: 10px;
    }
  }
}