.home-section {
  background: linear-gradient(45deg, #3695ff 20%, #469dff 10%, #469dff 35%, #4099ff 25%, #4099ff 55%, #3c90fe 55%, #3c90fe 70%, #3682fe 75%, #3682fe 100%)
}


.home-section__inner {
  position: relative;
  width: 60%;
  margin: auto;
}

.hamburger {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer; 
}

.header {
  color: #fff;
  text-transform: uppercase;
  padding-top: 100px;

  &__img {
    width: 141px;
    height: 141px;
    margin: auto;
    background-color: #fff;
    border-radius: 50%;
  }

  &__title {
   font-size: 3rem;
   font-weight: 900;
   line-height: 3.5rem;
   letter-spacing: 1.25px;
   padding-top: 50px;
  }

  &__desc {
   font-size: 1.2rem;
   font-weight: 300;
   line-height: 2rem;
   letter-spacing: 0.4px;
   padding: 20px;
  }
}

.button {

 &--home {
   margin-top: 40px;
 }
}

.scroll {
  padding-top: 90px;
  padding-bottom: 50px;
}


@media screen and (max-width: 900px) {

.hamburger {
  top: 40px;
  right: -95px;
  }
}

@media screen and (max-width: 600px) {
.header {

  &__img {
    width: 120px;
    height: 120px;
 }

  &__title {
    font-size: 2.5rem;
    padding-top: 35px;
  }
}
.hamburger {
  top: 45px;
  right: -50px;
  }

.button--home {
  margin-top: 25px;
 }
.scroll {
  padding-top: 65px;
  padding-bottom: 40px;
 } 
}

@media screen and (max-width: 400px) {

.home-section__inner {
  width: 90%;
  }

.header {
  
  &__img {
    display: none;
  }
 }
}