.portfolio-section__inner {
  padding-top: 30px;
  padding-bottom: 90px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 30px;
}
.gallery__img-wrap {
    margin-top: 40px;
    flex-basis: 359px ;
    flex-shrink: 1;
    padding-top: 29px;
    padding-bottom: 29px;
    border-radius: 10px;
    border: 1px solid #f4f4f4;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 500px) {
    flex: 100%;
}
